* {
    /* az összes html elem */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* szélességbe a padding és a border */
}
  
body {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

main {
    background-color: rgb(231, 225, 236);
    padding: 10px;
}
  
aside{
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
}
  
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "h h"
    "n n"
    "a j"
    "f f"
    ;
    gap: 10px;
}

article {
    /*szülőelem*/ 
    display:grid; 
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
}

.termek {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    display:grid;
    grid-template-rows: auto auto auto 20px;
}

.ar {
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
}

.kep img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.box {
    display: grid;
    grid-template-columns: 70px 70px;
    gap: 20px;
    list-style-type: none;
}

footer {
    background-color: white;
}
  
header {
    grid-area:h
}
  
nav {
    grid-area:n
}
  
footer {
    grid-area:f
}
  
article {
    grid-area:a
}
  
aside#bal {
    grid-area: b;
}
  
aside#jobb {
    grid-area: j;
}
  
/* menü kialakítása */

nav ul {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    gap: 5px;
    list-style-type: none;
}
  
nav li {
    text-align: center;
    padding: 0px;
    border: 0.5px solid lightgrey;
}
  
nav li a {
    text-decoration: none;
}
  
/* töréspontokat, media query */
/* tablet nézet */
@media screen and (max-width: 700px) {
    body {
        background-color: blue;
        width: 100%;
        font-size: 3vw;
    }
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "h h"
        "n n"
        "a b"
        "j j"
        "f f";
    }
}
  
/* mobilon nézet */
@media screen and (max-width: 450px) {
    nav ul {
        grid-template-columns: 1fr;
    }
    body {
        background-color: blue;
        width: 100%;
        font-size: 5vw;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "j"
        "b"
        "f";
    }
}