* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

main {
  background-color: rgb(231, 225, 236);
  padding: 10px;
}
  
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "h h"
    "a n"
    "f f";
    gap: 10px;
}

img{
    width: 100px;
}

footer {
  background-color: white;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

footer {
  grid-area: f;
}

article {
  grid-area: a;
}


nav ul {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  gap: 5px;
  list-style-type: none;
}

nav li {
  text-align: center;
  padding: 0px;
  border: 0.5px solid lightgrey;
}

nav li a {
    text-decoration: none;
}
  
table{
    border-collapse:collapse;
    width: auto;

}

th{
    border: 1px solid gray;
    margin:auto; 
    vertical-align:top;
    color: green;
    padding: 10px;
}


td{
    border: 1px solid gray;
    color: green;
    padding: 10px;

td {
  border: 1px solid gray;
}

.nulladik{
    background-color: yellow;
    text-align: center;
}

.elso{
    background-color: aqua;
}

.masodik{
    background-color: aquamarine;
}

h1{
    text-align: center;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
        font-size: 3vw;
    }
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }
}
 /* 
@media screen and (max-width: 450px) {
    nav ul {
        grid-template-columns: 1fr;
    }
    body {
        width: 100%;
        font-size: 5vw;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }
}*/